/* styles for TP4: Tic-Tac-Toe */

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Charmonman:wght@400;700&family=Dancing+Script:wght@400..700&family=Dela+Gothic+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&display=swap');

/* The :root selector is used to define CSS variables that can be reused throughout the stylesheet. */
:root {
    :root {
    --gameBoardSize: 60vmin;
    --gameBoardSpacer: 8px;
    --boardColor: #313788; 
    --cellBackground: #ffffff;
}

/* The #gameBoard id is used for the tic-tac-toe board itself. */
#gameBoard {
    position: relative;
    width: var(--gameBoardSize);
    height: var(--gameBoardSize);
    background-color: black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gameBoardSpacer);
}

/* The .gameSpace class is used for each of the 9 spaces on the tic-tac-toe board. */
.gameSpace {
    background-color: rgb(255, 255, 255);
    position: relative;
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dancing Script", cursive;
    overflow: hidden;
}

/* adds hover effect to the game spaces */
.gameSpace:hover {
    background-color: #f0e6d8;
}

/* The @media rule is used to apply different styles for different screen sizes. In this case, it adjusts the game board size and font size for smaller screens (max-width: 600px). */
@media (max-width: 600px) {
    :root {
        --gameBoardSize: 90vmin;
    }

    .gameSpace {
        font-size: 4rem;
    }
}